<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Prepare: Check Disbursement Entry</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="inputName">Payee</label>
                        <input type="text" class="form-control" id="inputName" ng-model="CDV.payee" placeholder="Employee fullname">
                    </div>
                    <div class="form-group">
                        <label for="inputName">Address</label>
                        <input type="text" class="form-control" id="inputName" ng-model="CDV.address" placeholder="Payee Address">
                    </div>
                    <div class="form-group">
                        <div ng-controller="cdvctrl">
                            <label for="inputName">Check Date</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="input-group">
                                        <input type="date" class="form-control" datepicker-popup ng-model="CDV.dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                        <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Bank</label>
                            <select ng-model="CDV.bank" class="form-control">
                                <option ng-repeat="bank in banks" value="{{bank.bankID}}">{{bank.bankName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Account No.</label>
                            <select ng-model="CDV.account" class="form-control">
                                <option ng-repeat="account in accounts" value="{{account.acctID}}">{{account.acctNo}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputName">Amount</label>
                            <input type="number" class="form-control" id="inputName" ng-model="CDV.amount" placeholder="Input Amount">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Check Number</label>
                            <input type="text" class="form-control" id="inputName" ng-model="CDV.chkNO" placeholder="Check Number">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Prepare: Account Entry</div>
            <div class="panel-body">
                <div class="form-inline form-group">
                    <form id="frmSearch" role="form">
                        <div class="form-group">
                            <select ng-model="entry.acctTitle" class="form-control">
                                <option ng-repeat="acctTitle in acctTitles" value="{{acctTitle.idAcctTitle}}">{{acctTitle.acctTitle}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="entry.DB" placeholder="Debit (0.00)">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="entry.CR" placeholder="Credit (0.00)">
                        </div>
                        <div class="form-group">
                            <a id="add_row" class="btn btn-primary pull-left" ng-click="addRow(entry)"><span class="glyphicon glyphicon-plus"></span> Add Row</a>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                            <tr>
                                <th class="text-center">Account Title</th>
                                <th class="text-center">Debit</th>
                                <th class="text-center">Credit</th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entry in entries">
                                <td>{{entry.title}}</td>
                                <td>{{entry.DB}}</td>
                                <td>{{entry.CR}}</td>
                                <td class="text-center">
                                    <a class="btn btn-danger btn-xs" ng-click="removeRow($index)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td>{{totalDB}}</td>
                                <td>{{totalCR}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label for="inputName">Particular</label>
                        <input type="text" class="form-control" id="inputName" ng-model="CDV.particular" placeholder="Particular">
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-warning" ng-click="saveCDVEntries()">Save</button>
            </div>
        </div>
    </div>
</div>
