<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">PURCHASE ORDER Details</div>
            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="form-inline form-group">
                            <label for="inputName" class="col-md-2 control-label">Name (ORDERED FROM: )</label>
                            <div class="form-group">
                                <select ng-model="PO.supplier" class="form-control input-sm">
                                    <option ng-repeat="supplier in suppliers" value="{{supplier.supplierID}}">{{supplier.supplier}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputName">Name (DELIVERED TO: )</label>
                                <select ng-model="PO.branch" class="form-control input-sm">
                                    <option ng-repeat="branch in branches" value="{{branch.idSettings}}">{{branch.value}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputSlug">Bank Name: </label>
                                <select ng-model="PO.bank" id="combobox" class="form-control input-sm" ng-change="cboBank(PO.bank)">
                                    <option ng-repeat="bank in banks" value="{{bank.bankID}}--{{bank.acctNum}}">{{bank.bankName}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputSlug">Account Number: </label>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" value="{{PO.acctNum}}" placeholder="ACCOUNT NUMBER" ng-disabled="isDisable">
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                        </DIV>
                        <div class="form-inline form-group">
                            <label for="inputSlug" class="col-md-2 control-label">Purchasing Agent: </label>
                            <input type="text" class="form-control input-sm" style="width:500px" ng-disabled="isDisable" ng-model="PO.POAgent" placeholder="PURCHASING AGENT" ng-disabled="isDisable">
                            <label for="inputSlug">Requested By: </label>
                            <select ng-model="PO.brName" class="form-control input-sm">
                                <option ng-repeat="brName in brNames" value="{{brName.brID}}">{{brName.brName}}</option>
                            </select>
                            <label for="inputSlug">Paid To: </label>
                            <select ng-model="PO.payee" class="form-control input-sm">
                                <option ng-repeat="payee in payees" value="{{payee.supplierID}}">{{payee.supplier}}</option>
                            </select>
                            <label for="inputSlug">M.O.P: </label>
                            <select ng-model="PO.mop" class="form-control input-sm">
                                <option ng-repeat="mop in mops" value="{{mop.id}}">{{mop.payment}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-9">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="form-inline form-group">
                                    <div class="form-group">
                                        <input type="number" class="form-control input-sm" style="width:80px" ng-model="entry.qty" placeholder="QTY" ng-disabled="isDisable">
                                    </div>
                                    <div class="form-group">
                                        <select ng-model="entry.unit" id="combobox" style="width:90px" class="form-control input-sm">
                                            <option ng-repeat="unit in units" value="{{unit.unitID}}">{{unit.unit}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control input-sm" ng-model="entry.Items" placeholder="ITEMS REQUESTED" ng-disabled="isDisable">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control input-sm" ng-model="entry.unitPrice" placeholder="UNIT PRICE" ng-disabled="isDisable">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control input-sm" ng-model="entry.total" placeholder="TOTAL" ng-disabled="isDisable">
                                    </div>
                                    <div class="form-group">
                                        <a id="add_row" class="btn btn-primary pull-left" ng-click="addRow(entry)"><span class="glyphicon glyphicon-plus"></span> Add Row</a>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="tab_logic">
                                        <thead>
                                            <tr>
                                                <th class="text-center">QTY</th>
                                                <th class="text-center">ITEMS UNIT</th>
                                                <th class="text-center">ITEMS REQUESTED</th>
                                                <th class="text-center">UNIT PRICE</th>
                                                <th class="text-center">TOTAL</th>
                                                <th width="5%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="entry in entries">
                                                <td>{{entry.qty}}</td>
                                                <td>{{entry.unitType}}</td>
                                                <td>{{entry.Items}}</td>
                                                <td>{{entry.unitPrice}}</td>
                                                <td>{{entry.total}}</td>
                                                <td class="text-center">
                                                    <a class="btn btn-danger btn-xs" ng-click="removeRow($index)">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>TOTAL:</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>{{totalAmount}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-sm btn-success" ng-click="savePOEntries()"><span class="glyphicon glyphicon-saved"></span> Save</button>
        <button class="btn btn-sm btn-danger" ng-hide="isDisable">Cancel</button>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">PURCHASE ORDER LISTS</div>
            <div class="panel-body">
                <div class="form-inline pull-right" role="form">
                    <div class="form-group">
                        <input id="txtvalue" type="text" class="form-control" ng-model="POSearch" placeholder="Search">
                    </div>
                    <button ng-click="search()" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                </div>
                <form>
                    <div class="scrollable-area">
                        <table id="tbl_subject" class="table table-hover table-responsive" ng-table="tableParams">
                            <tr ng-repeat="PO in $data">
                                <td data-title="'ID'" sortable="'title'">
                                    {{PO.poID}}
                                </td>
                                <td data-title="'PO No.'" sortable="'title'">
                                    {{PO.po_num}}
                                </td>
                                <td data-title="'Supplier'">
                                    {{PO.supplier}}
                                </td>
                                <td data-title="'Delivered To'">
                                    {{PO.branch}}
                                </td>
                                <td data-title="'Date'">
                                    {{PO.PO_date}}
                                </td>
                                <td data-title="'Purchasing Agent'">
                                    {{PO.purchasing_agent}}
                                </td>
                                <td data-title="'Requested By'">
                                    {{PO.brName}}
                                </td>
                                <td data-title="'MOP'">
                                    {{PO.payment}}
                                </td>
                                <td data-title="'View'">
                                    <div class="text-right">
                                        <a class="btn btn-primary btn-xs" href="/main/purchaseOrder/{{PO.poID}}">
                                            <i class="glyphicon glyphicon-stats"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div id="pagination" cellspacing="0"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
