<div class="row">
	<div class="col-lg-3 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">New Position</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="inputName">Position</label>
                        <input type="text" class="form-control" id="inputName" ng-model="user.empName" placeholder="Employee fullname">
                    </div>
                    <button class="btn btn-warning" ng-click="saveGroups()">Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Manage Position</div>
            <div class="panel-body">
                <div class="form-inline pull-left" role="form">
                    <a class="btn btn-warning" href="/newEmployee"><i class="fa fa-plus"></i> Add New Position</a>
                    <a class="btn btn-primary" ng-click="refresh()">Refresh</a>
                </div>
                <div class="form-inline pull-right" role="form">
                    <div class="form-group">
                        <input id="txtvalue" type="text" class="form-control" placeholder="Search">
                    </div>
                    <button onclick="javascript:searchSubject()" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                </div>
            </div>
            <!-- Table -->
            <div class="scrollable-area">
                <table id="tbl_subject" class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th style="width: 100px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.empName}}</td>
                            <td>{{user.empAddress}}</td>
                            <td>{{user.phoneNo}}</td>
                            <td>{{user.posName}}</td>
                            <th>
                                <div class="text-right">
                                    <a class="btn btn-primary btn-xs">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <div id="pagination" cellspacing="0"></div>
            </div>
        </div>
    </div>
</div>
