<div class="modal-header">
    <h3 class="modal-title">Approve Accounts Payable Voucher</h3>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="inputName">APV #</label>
                    <select ng-model="employee.position" class="form-control" id="textBoxes">
                        <option ng-repeat="position in positions" value="{{position.idPosition}}">{{position.posName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputSlug">Date:</label>
                    <label for="inputSlug">Date</label>
                </div>
                <div class="form-group">
                    <label for="inputSlug">CDV No.:</label>
                    <label for="inputSlug">APV No</label>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Account Entry</div>
        <div class="scrollable-area">
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                    <tr>
                        <th class="text-center">Account Title</th>
                        <th class="text-center">Debit</th>
                        <th class="text-center">Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in row.entries">
                        <td>
                            <input type="number" class="form-control" ng-model="entry.DB" placeholder="0.00">
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="entry.DB" placeholder="0.00">
                        </td>
                        <td>
                            <input type="number" class="form-control" ng-model="entry.CR" placeholder="0.00">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group">
        <label for="inputSlug">Particular</label>
        <input type="text" class="form-control" id="inputSlug" ng-model="employee.empAddress" placeholder="Particulars" ng-disabled="isDisable">
    </div>
    <hr>
    <div class="form-group">
        <label for="inputSlug">Prepared By:</label>
        <label for="inputSlug">Prepared By</label>
    </div>
    <div class="form-group">
        <label for="inputSlug">Approved By:</label>
        <label for="inputSlug">Approved By</label>
    </div>
    <div class="form-group">
        <label for="inputSlug">Audited By:</label>
        <label for="inputSlug">Audited By</label>
    </div>
</div>
<div class="modal-footer">
    <!-- <button ng-click="cancel()" class="btn btn-danger" ng-hide="isDisable">Cancel</button> -->
    <button class="btn btn-save" ng-click="appCDV()">Approve</button>
    <button class="btn btn-save" ng-click="audCDV">Audit</button>
    <button class="btn btn-danger" ng-click="cancel()">Deny</button>
    <button class="btn btn-save" ng-click="audCDV">Print</button>
    <button class="btn btn-danger" ng-click="close()">Close</button>
</div>
