<div class="modal-header">
    <h3 class="modal-title">Approve Check Disbursement Voucher</h3>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="inputName">CDV #</label>
                    <select ng-model="appcdv.ID" class="form-control" ng-change="changeMeChange(appcdv.ID)">
                        <option ng-repeat="ID in IDs" value="{{ID.cdvID}}--{{ID.chkDate}}--{{ID.particular}}--{{ID.CDVNo}}">{{ID.CDVNo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputSlug">Date:</label>
                    <label for="inputSlug">{{appcdv.sDate}}</label>
                </div>
                <div class="form-group">
                    <label for="inputSlug">CDV No.:</label>
                    <label for="inputSlug">{{appcdv.CDVNum}}</label>
                </div>
                <div class="form-group">
                    <label for="inputSlug">Particular:</label>
                    <label for="inputSlug">{{appcdv.Particular}}</label>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Check Disbursement Voucher</div>
        <div class="scrollable-area">
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                    <tr>
                        <th class="text-center">Account Title</th>
                        <th class="text-center">Debit</th>
                        <th class="text-center">Credit</th>
                        <th width="5%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="accnt in accnts">
                        <td>
                            <span ng-show="accnt.idAcctTitleDB != null && accnt.idAcctTitleCR == null">{{accnt.acctTitle}}</span>
                            <span ng-show="accnt.idAcctTitleDB == null && accnt.idAcctTitleCR != null">&nbsp;&nbsp;&nbsp;&nbsp;{{accnt.acctTitle}}</span>
                        </td>
                        <td>
                            <span ng-show="accnt.idAcctTitleDB != null && accnt.idAcctTitleCR == null"> {{accnt.amount}} </span>
                            <span ng-show="accnt.idAcctTitleDB == null && accnt.idAcctTitleCR != null"></span>
                        </td>
                        <td>
                            <span ng-show="accnt.idAcctTitleCR != null && accnt.idAcctTitleDB == null"> {{accnt.amount}} </span>
                            <span ng-show="accnt.idAcctTitleCR == null && accnt.idAcctTitleDB != null"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="inputSlug">Prepared By:</label>
        <label for="inputSlug">Prepared By</label>
    </div>
    <div class="form-group">
        <label for="inputSlug">Approved By:</label>
        <label for="inputSlug">Approved By</label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-primary" ng-click="appCDV()"><span class="glyphicon glyphicon-ok"></span> Approve</button>
    <button class="btn btn-sm btn-warning" ng-click="denyCDV()"><span class="glyphicon glyphicon-remove"></span> Deny</button>
    <a class="btn btn-sm btn-danger" ng-click="closeModal()"><span class="glyphicon glyphicon-remove-circle"></span> Close</a>
</div>
