<div class="modal-header">
    <h3 class="modal-title">Add New Bank</h3>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="inputName">Bank</label>
                    <input type="text" class="form-control" ng-model="bank.bankName" placeholder="Bank Name">
                </div>
                <div class="form-group">
                    <label for="inputName">Account Number</label>
                    <input type="text" class="form-control" ng-model="bank.acctNum" placeholder="Bank Account Number">
                </div>
                <div class="form-group">
                    <label for="inputName">Address</label>
                    <input type="text" class="form-control" ng-model="bank.address" placeholder="Bank Address">
                </div>
                <div class="form-group">
                    <label for="inputName">Telephone</label>
                    <input type="text" class="form-control" ng-model="bank.Tel" placeholder="Bank Hotline Number">
                </div>
                <a class="btn btn-warning" ng-show="isDisable" ng-click="addNew()"><i class="fa fa-plus"></i> Add New User</a>
                <a class="btn btn-success" ng-show="!isDisable" ng-click="savePosition()">Save</a>
                <button ng-click="cancel()" class="btn btn-danger" ng-hide="isDisable">Cancel</button>
                <button class="btn btn-danger" ng-click="cancel()">Close</button>
            </form>
        </div>
    </div>
</div>

