<div class="modal-header">
    <h3 class="modal-title">Write Check</h3>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="inputName">Check Date</label>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName">Pay to the Order of:</label>
                    <input type="text" class="form-control" id="inputName" ng-model="check.empName" placeholder="Order's  Information">
                </div>
                <div class="form-group">
                    <label for="inputName">Amount</label>
                    <input type="number" class="form-control" ng-model="check.CR" placeholder="0.00">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-primary" ng-click="appCDV()"><span class="glyphicon glyphicon-saved"></span> Save</button>
    <button ng-click="cancel()" class="btn btn-sm btn-danger" ng-hide="isDisable"> Cancel</button>
    <button class="btn btn-sm btn-danger" ng-click="closeModal()"><span class="glyphicon glyphicon-remove-circle"></span> Close</button>
</div>
