<div class="modal-header">
    <h3 class="modal-title">Fixed Assets</h3>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="inputName">Item</label>
                    <input type="text" class="form-control" id="inputName" ng-model="asset.itemName" placeholder="Item Name">
                </div>
                <div class="form-group">
                    <label for="inputName">Cost</label>
                    <input type="number" class="form-control" ng-model="asset.cost" placeholder="0.00">
                </div>
                <div class="form-group">
                    <label for="inputName">Date Purchased</label>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="date" class="form-control" datepicker-popup ng-model="asset.dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName">Estimated Life</label>
                    <input type="number" class="form-control" ng-model="asset.estLife" placeholder="0">
                </div>
                <div class="form-group">
                    <label for="inputName">Quantity</label>
                    <input type="number" class="form-control" ng-model="asset.qty" placeholder="0">
                </div>
                <div class="form-group">
                    <label for="inputName">Account Category</label>
                    <select ng-model="asset.category" class="form-control">
                        <option ng-repeat="category in categories" value="{{category.categoryID}}">{{category.desc}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputName">Accounting Period</label>
                    <select ng-model="asset.period" class="form-control">
                        <option ng-repeat="period in periods" value="{{period.periodID}}">{{period.strDate}}-{{period.endDate}}</option>
                    </select>
                </div>
                <a class="btn btn-sm btn-success" ng-show="!isDisable" ng-click="saveAssetItem()"><span class="glyphicon glyphicon-saved"></span> Save</a>
                <button ng-click="cancel()" class="btn btn-sm btn-danger" ng-hide="isDisable">Cancel</button>
                <button class="btn btn-sm btn-danger" ng-click="closeModal()"><span class="glyphicon glyphicon-remove-circle"></span> Close</button>
            </form>
        </div>
    </div>
</div>
