<div class="modal-header">
    <h3 class="modal-title">Prepare: Journal Voucher</h3>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-heading">Journal Voucher Entry</div>
        <div class="panel-body">
            <div class="scrollable-area">
                <br>
                <form>
                    <div class="container" ng-controller="JVctrl">
                        <div class="row clearfix">
                            <div class="col-md-9 column">
                                <div class="form-group">
                                    <a id="add_row" class="btn btn-primary pull-left" ng-click="addRow(entry)"><span class="glyphicon glyphicon-plus"></span> Add Row</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" id="tab_logic">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Account Title</th>
                                            <th class="text-center">Debit</th>
                                            <th class="text-center">Credit</th>
                                            <th width="5%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="entry in entries">
                                            <td>{{entry.title}}</td>
                                            <td>{{entry.DB}}</td>
                                            <td>{{entry.CR}}</td>
                                            <td class="text-center">
                                                <a class="btn btn-danger btn-xs" ng-click="removeRow($index)">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total:</td>
                                            <td>{{totalDB}}</td>
                                            <td>{{totalCR}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="form-group">
                                    <label for="inputName">Particular</label>
                                    <input type="text" class="form-control" id="inputName" ng-model="CDV.particular" placeholder="Particular">
                                </div>
                            </div>
                </form>
                </div>
                </div>
            </div>
        </div>
