<div class="modal-header">
    <h3 class="modal-title">Prepare: Journal Voucher</h3>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-heading">Journal Voucher Entry</div>
        <div class="panel-body">
            <div class="scrollable-area">
                <div class="form-inline form-group">
                    <form id="frmSearch" role="form">
                        <div class="form-group">
                            <select ng-model="entry.acctTitle" class="form-control">
                                <option ng-repeat="acctTitle in acctTitles" value="{{acctTitle.idAcctTitle}}">{{acctTitle.acctTitle}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="entry.DB" placeholder="Debit (0.00)" style="width:150px;">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="entry.CR" placeholder="Credit (0.00)" style="width:150px;">
                        </div>
                        <div class="form-group">
                            <a id="add_row" class="btn btn-primary pull-left" ng-click="addRow(entry)"><span class="glyphicon glyphicon-plus"></span> Add Row</a>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tab_logic">
                        <thead>
                            <tr>
                                <th class="text-center">Account Title</th>
                                <th class="text-center">Debit</th>
                                <th class="text-center">Credit</th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entry in entries">
                                <td>{{entry.title}}</td>
                                <td>{{entry.DB}}</td>
                                <td>{{entry.CR}}</td>
                                <td class="text-center">
                                    <a class="btn btn-danger btn-xs" ng-click="removeRow($index)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td>{{totalDB}}</td>
                                <td>{{totalCR}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label for="inputName">Particular</label>
                        <input type="text" class="form-control" id="inputName" ng-model="CDV.particular" placeholder="Particular">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-primary" ng-click="appCDV()"><span class="glyphicon glyphicon-save"></span> Save</button>
    <a class="btn btn-sm btn-danger" ng-click="closeModal()"><span class="glyphicon glyphicon-remove-circle"></span> Close</a>
</div>
