<div class="modal-header">
    <h3 class="modal-title">Prepare: Journal Voucher</h3>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-heading">Journal Voucher Entry</div>
        <div class="scrollable-area">
            <br>
            <form>
                <div class="container" ng-controller="JVctrl">
                    <div class="row clearfix">
                        <div class="col-md-9 column">
                            <a id="add_row" class="btn btn-default pull-left" ng-click="addRow()">Add Item</a>
                            <br>
                            <br>
                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                    <tr>
                                        <th class="text-center">Account Title</th>
                                        <th class="text-center">Debit</th>
                                        <th class="text-center">Credit</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="entry in row.entries">
                                        <td>
                                            <select ng-model="entry.acctTitle" class="form-control">
                                                <option ng-repeat="acctTitle in acctTitles" value="{{acctTitle.idAcctTitle}}">{{acctTitle.acctTitle}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" ng-model="entry.DB" placeholder="0.00">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" ng-model="entry.CR" placeholder="0.00">
                                        </td>
                                        <td>
                                            <a class="btn btn-danger btn-xs" ng-click="removeRow($index)">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total:</td>
                                        <td>{{total() | currency}}</td>
                                        <td>{{total() | currency}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <label for="inputName">Particular</label>
                                <input type="text" class="form-control" id="inputName" ng-model="user.empName" placeholder="Particular">
                            </div>
                            <button class="btn btn-warning pull-right" ng-click="saveEmployee()">Cancel</button>
                            <button class="btn btn-warning pull-right" ng-click="saveEmployee()">Save</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
