<div class="modal-header">
    <h3 class="modal-title">Search Accounts Payable Voucher</h3>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="inputName">APV #</label>
                    <select ng-model="search.det" class="form-control" ng-change="changeMeChange(search.det)">
                        <option ng-repeat="apv in apvs" value="{{apv.apvID}}--{{apv.transDate}}--{{apv.particulars}}--{{apv.APVNum}}">{{apv.APVNum}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputSlug">Date:</label>
                    <label for="inputSlug">{{search.sDate}}</label>
                </div>
                <div class="form-group">
                    <label for="inputSlug">APV Number:</label>
                    <label for="inputSlug">{{search.apvNum}}</label>
                </div>
                <div class="form-group">
                    <label for="inputSlug">Particular:</label>
                    <label for="inputSlug">{{search.Particular}}</label>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Account Payable Voucher</div>
        <div class="scrollable-area">
            <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                    <tr>
                        <th class="text-center">Account Title</th>
                        <th class="text-center">Debit</th>
                        <th class="text-center">Credit</th>
                        <th width="5%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="accnt in accnts">
                        <td>
                            <span ng-show="accnt.idAcctTitleDB != null && accnt.idAcctTitleCR == null">{{accnt.acctTitle}}</span>
                            <span ng-show="accnt.idAcctTitleDB == null && accnt.idAcctTitleCR != null">&nbsp;&nbsp;&nbsp;&nbsp;{{accnt.acctTitle}}</span>
                        </td>
                        <td>
                            <span ng-show="accnt.idAcctTitleDB != null && accnt.idAcctTitleCR == null"> {{accnt.amount}} </span>
                            <span ng-show="accnt.idAcctTitleDB == null && accnt.idAcctTitleCR != null"></span>
                        </td>
                        <td>
                            <span ng-show="accnt.idAcctTitleCR != null && accnt.idAcctTitleDB == null"> {{accnt.amount}} </span>
                            <span ng-show="accnt.idAcctTitleCR == null && accnt.idAcctTitleDB != null"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="inputSlug">Prepared By:</label>
        <label for="inputSlug">Prepared By</label>
    </div>
    <div class="form-group">
        <label for="inputSlug">Approved By:</label>
        <label for="inputSlug">Approved By</label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-primary" ng-click="appCDV()"><span class="glyphicon glyphicon-print"></span> Print</button>
    <a class="btn btn-sm btn-danger" ng-click="closeModal()"><span class="glyphicon glyphicon-remove-circle"></span> Close</a>
</div>
