<div class="modal-header">
    <h3 class="modal-title">Accounting Number Series</h3>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <div class="form-inline form-group col-lg-12 col-md-12">
                    <input type="text" class="form-control col-lg-2 col-md-2" ng-model="beginBal.amount" placeholder="JV No.">
                    <input type="text" class="form-control col-lg-2 col-md-2" ng-model="beginBal.amount" placeholder="CDV No.">
                    <input type="text" class="form-control col-lg-2 col-md-2" ng-model="beginBal.amount" placeholder="PO No.">
                    <input type="text" class="form-control col-lg-2 col-md-2" ng-model="beginBal.amount" placeholder="APV NO.">
                    <input type="text" class="form-control col-lg-2 col-md-2" ng-model="beginBal.amount" placeholder="SOA NO.">
                </div>
                <!-- <a class="btn btn-sm btn-success" ng-show="!isDisable" ng-click="saveBeginningBal()"><span class="glyphicon glyphicon-saved"></span> Save</a>
                <button ng-click="cancel()" class="btn btn-sm btn-danger" ng-hide="isDisable">Cancel</button>
                <button class="btn btn-sm btn-danger" ng-click="closeModal()"><span class="glyphicon glyphicon-remove-circle"></span> Close</button> -->
            </form>
        </div>
    </div>
</div>
