<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">PURCHASE ORDER Details Report</div>
            <div class="panel-body">
                <div class="form-inline pull-left col-lg-12 col-md-12 col-sm-9" role="form">
                    <button ng-click="" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                </div><br/><br/>
                <form>
                    <div class="col-lg-12 col-md-12 col-sm-9">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="tab_logic">
                                <tbody>
                                    <tr ng-repeat="poDetail in poDetails">
                                        <td class="col-lg-2 col-md-2">P.O Number: </td>
                                        <td class="col-lg-4 col-md-4">{{poDetail.po_num}}</td>
                                        <td class="col-lg-0 col-md-0" style="border-top:none; border-bottom:none"></td>
                                        <td class="col-lg-2 col-md-2">DATE: </td>
                                        <td class="col-lg-4 col-md-4">{{poDetail.PO_date}}</td>
                                    </tr>
                                    <tr ng-repeat="poDetail in poDetails">
                                        <td class="col-lg-2 col-md-2">NAME (ORDERED FROM): </td>
                                        <td class="col-lg-4 col-md-4">{{poDetail.supplier}}</td>
                                        <td class="col-lg-0 col-md-0" style="border-top:none; border-bottom:none"></td>
                                        <td class="col-lg-2 col-md-2">NAME (DELIVERED TO): </td>
                                        <td class="col-lg-4 col-md-4">{{poDetail.value}}</td>
                                    </tr>
                                    <tr ng-repeat="poDetail in poDetails">
                                        <td class="col-lg-2 col-md-2">ADDRESS: </td>
                                        <td class="col-lg-4 col-md-4">{{poDetail.address}}</td>
                                        <td class="col-lg-0 col-md-0" style="border-top:none; border-bottom:none"></td>
                                        <td class="col-lg-2 col-md-2">ADDRESS: </td>
                                        <td class="col-lg-4 col-md-4">{{poDetail.brAddress}}</td>
                                    </tr>
                                    <tr ng-repeat="poDetail in poDetails">
                                        <td class="col-lg-2 col-md-2">PHONE/FAX: </td>
                                        <td class="col-lg-4 col-md-4">{{poDetail.phone}}</td>
                                        <td class="col-lg-0 col-md-0" style="border-top:none; border-bottom:none"></td>
                                        <td class="col-lg-2 col-md-2">PHONE/FAX: </td>
                                        <td class="col-lg-4 col-md-4">{{poDetail.tel}}</td>
                                    </tr>
                                    <tr ng-repeat="poDetail in poDetails">
                                        <td class="col-lg-1 col-md-1">Bank Name: </td>
                                        <td class="col-lg-0 col-md-0">{{poDetail.bankName}}</td>
                                        <td class="col-lg-0 col-md-0" style="border-top:none; border-bottom:none"></td>
                                        <td class="col-lg-0 col-md-0">Account No.: </td>
                                        <td class="col-lg-1 col-md-1">{{poDetail.acctNum}}</td>
                                    </tr>
                                    <tr ng-repeat="poDetail in poDetails">
                                        <td class="col-lg-1 col-md-1">Purchasing Agent: </td>
                                        <td class="col-lg-2 col-md-2">{{poDetail.purchasing_agent}}</td>
                                        <td class="col-lg-0 col-md-0" style="border-top:none; border-bottom:none"></td>
                                        <td class="col-lg-1 col-md-1">Requested By: </td>
                                        <td class="col-lg-2 col-md-2">{{poDetail.brName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                    <tr>
                                        <th class="text-center">QTY</th>
                                        <th class="text-center">ITEMS UNIT</th>
                                        <th class="text-center">ITEMS REQUESTED</th>
                                        <th class="text-center">UNIT PRICE</th>
                                        <th class="text-center">TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="poItem in poItems">
                                        <td>{{poItem.qty}}</td>
                                        <td>{{poItem.unit}}</td>
                                        <td>{{poItem.items}}</td>
                                        <td>{{poItem.unit_price}}</td>
                                        <td>{{poItem.total}}</td>
                                    </tr>
                                    <tr ng-repeat="sum in sums">
                                        <td>TOTAL</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{sum.totalAmt}}</td>
                                    </tr>
                                    <tr ng-repeat="poDetail in poDetails">
                                        <td>PREPARED BY: {{poDetail.empName}}</td>
                                        <td>PURCHASING OFFICER: </td>
                                        <td>APPROVING OFFICER: </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
