<div class="modal-header">
    <h3 class="modal-title">Add New Sub Account</h3>
</div>
<div class="modal-body">
    <div class="panel panel-primary">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="inputName">General Account</label>
                    <select ng-model="subAccount.acctTitle" class="form-control">
                        <option ng-repeat="acctTitle in acctTitles" value="{{acctTitle.idAcctTitle}}">{{acctTitle.acctTitle}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputName">Account Type</label>
                    <select ng-model="subAccount.acctType" class="form-control">
                        <option ng-repeat="acctType in acctTypes" value="{{acctType.acctTypeID}}">{{acctType.acctType}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputName">Account Code</label>
                    <input type="text" class="form-control" id="inputSlug" ng-model="subAccount.acctCode" placeholder="Accounting Code">
                </div>
                <div class="form-group">
                    <label for="inputName">Account Title</label>
                    <input type="text" class="form-control" id="inputSlug" ng-model="subAccount.accountTitle" placeholder="Accounting Title">
                </div>
                <div class="form-group">
                    <label for="inputName">Normal Balance</label>
                    <select ng-model="subAccount.norm" class="form-control">
                        <option ng-repeat="norm in norms" value="{{norm.normsID}}">{{norm.normDesc}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputName">Fund Type</label>
                    <select ng-model="subAccount.fund" class="form-control">
                        <option ng-repeat="fund in funds" value="{{fund.fundID}}">{{fund.fundDesc}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputName">Financial Statement</label>
                    <select ng-model="subAccount.statement" class="form-control">
                        <option ng-repeat="statement in statements" value="{{statement.FSID}}">{{statement.FSDesc}}</option>
                    </select>
                </div>
                <a class="btn btn-sm btn-success" ng-show="!isDisable" ng-click="saveSubAccount()"><span class="glyphicon glyphicon-saved"></span> Save</a>
                <button ng-click="cancel()" class="btn btn-sm btn-danger" ng-hide="isDisable">Cancel</button>
                <a class="btn btn-sm btn-danger" ng-click="closeModal()"><span class="glyphicon glyphicon-remove-circle"></span> Close</a>
            </form>
        </div>
    </div>
</div>
