<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">A C C O U N T I N G _ S Y S T E M</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/main">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/main/employees">Employee</a></li>
                    <li><a ng-click="openPosition(positionctrl)" href="">Position</a></li>
                    <li><a href="/main/branch">Branch</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="openUser(userctrl)" href="#">Manage Users</a></li>
                    <li><a ng-click="openBank(bankctrl)" href="#">Bank</a></li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Accounting</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu"><a tabindex="-1" href="">Accounts</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" ng-click="openGenAcct(accountctrl)" href="">General Account</a></li>
                                    <li><a tabindex="-1" ng-click="openSubAcct(accountctrl)" href="">Sub Account</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"><a tabindex="-1" href="">Fixed Assets</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" ng-click="openFixedAsset(assetctrl)" href="">Items</a></li>
                                </ul>
                            </li>
                            <!-- <li><a tabindex="-1" ng-click="openAcctPeriod(assetctrl)" href="">Period</a></li> -->
                            <li><a tabindex="-1" ng-click="openBeginningBal(assetctrl)" href="">Beginning Balance</a></li>
                            <li><a tabindex="-1" href="">Update Number Series</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                </ul>
                <li class="dropdown"><a href="#task" class="dropdown-toggle" data-toggle="dropdown">Tasks<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="openCheck(checkctrl)" href="#">Write Check</a></li>
                        <li class="divider"></li>
                        <li><a href="/main/purchaseOrder">Purchase Order</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Check Disbursement Voucher</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/main/checkDisbursement">Prepare</a></li>
                                <li><a ng-click="openAppCDV(appCDVctrl)" href="">Approve</a></li>
                                <li><a ng-click="openAppCDV(appCDVctrl)" href="#">Audit</a></li>
                                <li><a ng-click="openSearchCDV(searchCDVctrl)" href="#">Search</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Journal Voucher</a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openJV(JVctrl)" href="">Prepare</a></li>
                                <li><a ng-click="openAppJV(appJVctrl)" href="">Approve</a></li>
                                <li><a ng-click="openAppJV(JVctrl)" href="#">Audit</a></li>
                                <li><a ng-click="openSearchJV(searchJVctrl)" href="#">Search</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Accounts Payable Voucher</a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openAPVoucher(apvctrl)" href="">Prepare</a></li>
                                <li><a ng-click="openAppAPV(appAPVctrl)" href="">Approve</a></li>
                                <li><a ng-click="openAppAPV(apvctrl)" href="#">Audit</a></li>
                                <li><a ng-click="openSearchAPV(searchAPVctrl)" href="#">Search</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Update Accounting</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#task" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">General Journal</a></li>
                        <li><a href="#">Accounts Payable Journal</a></li>
                        <li><a href="#">General Ledger</a></li>
                        <li><a href="#">Chart of Accounts</a></li>
                        <li><a href="#">Trial Balance</a></li>
                        <li><a href="#">Accounting</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Check Disbursement Journal</a></li>
                        <li><a href="#">Fixed Assets</a></li>
                        <li><a href="#">Financial Statements</a></li>
                    </ul>
                </li>
                <li><a href="#" ng-click="logout()">Logout</a></li>
        </ul>
    </div>
</nav>
